body{
    display: flex;
    align-items: center; 
    justify-content: center;
    vertical-align:middle;
    flex-direction: column;
    height: 95Svh;
    font-family: monospace;
    background-color: #BFBFBF;
}

th, td {
    border: 3px solid black;
    margin: 0;
    border-spacing: 0;
}

table{
    border:0px;
    margin: 2;
    border-spacing: 0;
}
